{% extends "layout.html" %}
{% block content %}
   <div class="bridget">
    <h3><i>A Discord Secretary Bot.</i></h3>
    <h4> Help function: </h4>
    <img src = "static/help.jpg">
    <h4> Roll function: </h4>
    <img src = "static/roll.jpg">
    <h4> Pin function: </h4>
    <img src = "static/pin.jpg">
    <a href = "https://discord.gg/2eXjw6h">Invite yourself to test server: </a>
    <a href = "http://b.link/bridget">Invite Bridget to your server:</a>
   </div>
{% endblock %}
