<!DOCTYPE html>
<html>
<title>Portfolio-Cody Stallings</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('/static/desert.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
</style>
<body>
<a href='/home'>
<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-middle w3-white" style="padding:50;height:25%;color:black;opacity:0.75">
    <h1 class="w3-jumbo w3-animate-top">Portfolio</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <p class="w3-large w3-center">Cody Stallings</p>
    <p class="w3-center">Software Developer</p>
    <p class="w3-large w3-center">(Click to Open)</p>
  </div>
</div>
</a>
</body>
</html>