{% extends "layout.html" %}
{% block content %}
            <div class="w3-row-padding w3-row w3-margin" style="margin:50">
                <div class="w3-col s2 w3-padding" id="portfolio-desc" style="color:white">
                    <h4>Apps & Software</h4>
                    <p>Made using the React Native Framework and Python.</p>
                </div>
                <div class="w3-col s2 w3-padding">
                    <div class="w3-card-4 w3-round w3-black">
                        <a href="/tttapp">
                            <header class="w3-container w3-white">
                                <h3>Teens Tutor Teens</h3>
                            </header>
                            <img src="/static/tttapp.png" url="/tttapp" alt="App Site" style="width:100%">
                        </a>
                    </div>
                </div>
                <div class="w3-col s2 w3-padding">
                    <div class="w3-card-4  w3-round w3-black">
                        <a href="/collection">
                            <header class="w3-container w3-white">
                                <h3>Collection Tracker</h3>
                            </header>
                            <img src="/static/collection.png" url="/collection" alt="Collection Tracker" style="width:100%">
                        </a>
                    </div>
                </div>
            </div>
            <div class="w3-row-padding w3-row w3-margin" style="margin:50">
                <div class="w3-col s2 w3-padding" id="portfolio-desc" style="color:white">
                    <h4>Projects</h4>
                    <p>Various projects utilizing Python or NodeJS</p>
                    <p>as well as Discord.js, Sequelize, Tweepy, Praw, etc.</p>
                </div>
                <div class="w3-col s2 w3-padding">
                    <div class="w3-card-4 w3-round w3-black">
                        <a href="/stocks">
                            <header class="w3-container w3-white">
                                <h3>Stock Analysis</h3>
                            </header>
                            <img src="/static/stock-logo.jpg" url="/stocks" alt="Stock Analysis" style="width:100%">
                        </a>
                    </div>
                </div>
                <div class="w3-col s2 w3-padding">
                    <div class="w3-card-4 w3-round w3-black">
                        <a href="/bridget">
                            <header class="w3-container w3-white">
                                <h3>Discord Bot</h3>
                            </header>
                            <img src="/static/discord-logo.jpg" url="/bridget" alt="Discord Bot" style="width:100%">
                        </a>
                    </div>
                </div>
                <div class="w3-col s2 w3-padding">
                    <div class="w3-card-4 w3-round w3-black">
                        <a href="/post">
                            <header class="w3-container w3-white">
                                <h3>Reddit Bot</h3>
                            </header>
                            <img src="/static/reddit-logo.jpg" alt="PostBot" style="width:100%">
                        </a>
                    </div>
                </div>
            </div>
            <div class="w3-row-padding w3-row w3-margin" style="margin:50">
                <div class="w3-col s2 w3-padding" id="portfolio-desc" style="color:white">
                    <h4>Websites</h4>
                    <p>Made using Flask, Html, Javascript, and CSS.</p>
                </div>
                <div class="w3-col s2 w3-padding">
                    <div class="w3-card-4 w3-round w3-black">
                        <a href="/watches">
                            <header class="w3-container w3-white">
                                <h3>Old School Watches</h3>
                            </header>
                            <img src="/static/alang.jpg" url="/watches" alt="Watch Site" style="width:100%">
                        </a>
                    </div>
                </div>
                <div class="w3-col s2 w3-padding">
                    <div class="w3-card-4 w3-round w3-black">
                        <a href="/law">
                            <header class="w3-container w3-white">
                                <h3>Law Firm</h3>
                            </header>
                            <img src="/static/law.jpg" url="/law" alt="Law Site" style="width:100%">
                        </a>
                    </div>
                </div>
                <div class="w3-col s2 w3-padding">
                    <div class="w3-card-4 w3-round w3-black">
                        <a href="/record">
                            <header class="w3-container w3-white">
                                <h3>Record Store</h3>
                            </header>
                            <img src="/static/record.jpg" url="/record" alt="Record Store Site" style="width:100%">
                        </a>
                    </div>
                </div>
            </div>
{% endblock %}
