<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio-Cody Stallings</title>
    <meta charset="UTF-8">
    <meta property="og:image" content="fullsite.jpg" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
  </head>
  <body>
    <!-- Navbar -->
    <div class="w3-top w3-mobile" style = "opacity: 0.4">
     <div class="w3-bar w3-theme-d2 w3-left-align">
      <a href="/home" class="w3-bar-item w3-button w3-white"><i class="fa fa-home w3-margin-right"></i>Home</a>
      <a href="/resume" class="w3-bar-item w3-button w3-mobile w3-hover-white">Resume</a>
      <div class = "w3-display-topright"><button onclick="document.getElementById('logButton').style.display='block'" class="w3-button w3-black">Login</button></div>
      <a href="https://github.com/ydocsgnillats" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Github</a>
      <a href="https://www.linkedin.com/in/codystallings/" class="w3-bar-item w3-button w3-mobile w3-hover-white">LinkedIn</a>
     </div>
    </div>
    
    <div id = "wrapper">
      <div id="overlay" class="w3-container w3-padding w3-mobile w3-round">
          {% block content %}
          {% endblock %}
      </div>
      
  <!-- Login Modal -->
    <div id="logButton" class="w3-modal w3-round">
      <div class="w3-modal-content w3-padding w3-card-2 w3-round w3-white" style = "width: 15%; height: 10%; opacity: 0.9">
          <span onclick="document.getElementById('logButton').style.display='none'"
          class="w3-button w3-display-topright">&times;</span>
              <form action="/" method = "POST">
                <input type="text" placeholder="username" name="username">
               	<input type="text" placeholder="password" name="password">
               	<input type="submit" value="Login">
              </form>
      </div>
    </div>
    </div>
  <!-- Footer -->
      <footer>
          <div class = "w3-mobile w3-bottom">
          Cody Stallings 2020</div>
      </footer>
  </body>
</html>
