{% extends "layout.html" %}
{% block content %}
    <div class = "movies">
		<p>
			MOVIES
   		</p>
		<div>
			{{sample}}
			
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sollicitudin erat magna, eleifend fringilla libero vestibulum ac. In faucibus vulputate ante ut rhoncus. Nulla scelerisque sapien vitae ligula vehicula scelerisque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras diam ipsum, tincidunt eu sollicitudin quis, dictum sed turpis. Nunc auctor nec lorem vel ultricies. Nam neque orci, molestie vitae fermentum sollicitudin, bibendum et orci. Curabitur varius ante tempus diam sollicitudin finibus. Donec quis mauris massa. Phasellus malesuada efficitur iaculis. Aliquam dignissim nisi et orci tempor bibendum. Ut pulvinar vestibulum tortor eu facilisis.

Duis massa nibh, blandit sed tempor ut, vehicula a nisi. In pretium venenatis neque, vel tincidunt tortor tincidunt elementum. Donec ultrices tristique nisi. Quisque condimentum libero ut eros vulputate, non viverra nibh tempor. Cras in tristique arcu, eleifend dictum augue. Nunc pretium ligula vitae urna hendrerit, quis scelerisque sem condimentum. Quisque efficitur non orci at finibus. Donec tempor condimentum urna, vitae sollicitudin dui laoreet in.

Duis dapibus molestie leo, eget gravida magna ullamcorper at. Morbi volutpat turpis sed euismod cursus. Vestibulum neque nibh, luctus nec consectetur et, pulvinar ac tellus. Nam eleifend nisl non erat egestas sollicitudin. Proin mollis porta purus vel malesuada. Etiam sit amet feugiat velit. Duis porta et mauris non facilisis. Suspendisse eget laoreet lectus. Nulla maximus ex purus.

Praesent sagittis, leo in rhoncus pharetra, nunc lorem hendrerit diam, vitae pharetra tellus quam eu leo. Nam pretium convallis sapien. Nullam molestie mi at suscipit bibendum. Aliquam in accumsan velit. Quisque condimentum lorem ac luctus finibus. Phasellus vel laoreet sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla augue purus, porttitor eu urna eget, scelerisque pharetra purus. Ut ligula libero, elementum ut luctus sit amet, iaculis eget libero. Ut rhoncus bibendum odio vitae facilisis. Vestibulum tincidunt sed nibh sit amet dapibus. Donec eu ullamcorper felis, ut tincidunt tortor. Curabitur laoreet maximus ligula luctus maximus. Proin porttitor nulla non lorem iaculis consectetur. Curabitur vel leo sapien.

Nulla facilisi. Aliquam facilisis nulla id congue eleifend. Aliquam vulputate, lectus et auctor aliquet, tellus ante semper risus, at volutpat arcu metus a velit. Sed lobortis in sapien ut rhoncus. Morbi id est sed ipsum sollicitudin porttitor a at mauris. Nunc eu turpis et mauris rhoncus rutrum eget eget arcu. Quisque lorem sem, aliquam eget commodo vitae, interdum a odio. Nulla nec auctor nisi. Maecenas vel tristique libero. Sed id convallis nulla. Ut congue volutpat nunc at accumsan. Cras viverra quam volutpat, pharetra odio posuere, sollicitudin metus. Aenean ullamcorper turpis at augue volutpat dignissim. Curabitur dignissim, mi id convallis dapibus, purus tellus dictum elit, quis molestie mauris libero nec mauris. Proin vitae pulvinar lectus, vel feugiat est. Quisque dolor erat, ultricies at tortor sit amet, pharetra porta massa.
		</div>
	</div>
{% endblock %}
