{% extends "layout.html" %}
{% block content %}
<div class="w3-row-padding w3-row w3-margin" style="margin:50">
    <div class="w3-col s4 w3-padding" id="portfolio-desc">
        <h3>Post on multiple subreddits:</h3>
        <p>Enter a Title, link, and up to five subreddits to post to.</p>
        <p>The bot will filter out non-existant subreddits.</p>
    </div>
    <div class="w3-col s2 w3-padding">
    <div class="w3-card-4 w3-padding" style = "color:white">
    <div class = "post" style = "width: 100px">
        <form action="/post" method = "POST">
            <input type="text" placeholder="title" name="title">
        	<input type="text" placeholder="link" name="link">
        	<input type="text" placeholder="sub1" name="sub1">
        	<input type="text" placeholder="sub2" name="sub2">
        	<input type="text" placeholder="sub3" name="sub3">
        	<input type="text" placeholder="sub4" name="sub4">
        	<input type="text" placeholder="sub5" name="sub5">
        	<input type="submit" value="Post to Reddit?">
        </form>
    </div>
    </div>
    </div>
</div>
{% endblock %}