{% extends "layout.html" %}
{% block content %}
<div class="w3-display-container" style = "margin: 50">
    <iframe frameborder="0" scrolling="no"
         width="1000" height="800px"
     src="https://drive.google.com/file/d/10-dVjUon7r9rBZ1HorC3Spf2BDFV53YP/preview">
    </iframe>
    <button class="w3-button w3-blue w3-hover-purple w3-round">
        <a href="{{ url_for('static', filename='CodyResume2020Final.pdf') }}" style="color:white" download="ResumeCStallings">Download PDF</a>
    </button>
</div>
{% endblock %}