{% extends "layout.html" %}
{% block content %}
<div class="w3-row-padding w3-row w3-margin" id="center">
    <div class="w3-col s2 w3-padding">
        <div class="w3-card-4 w3-padding" style = "color:white">
        <h3> Stock Ticker: </h3>
        <form action = "/stocks" method = "POST">
            <input type = "text" name = "stock">
            <input type = "submit" name = "submit">
        </form></div>
    </div>

    <div class="w3-col s2 w3-padding">
        <div class="w3-card-4 w3-padding" style = "color:white">
            <h3> Stock Metrics: </h3>
            {{stock_info}}
        </div>
    </div>
    <div class="w3-col s2 w3-padding">
        <div class="w3-card-4 w3-padding" style = "color:white">
            <h3> Recent Reddit Posts:</h3>
            <ul>
            {%for i in range(4)%} 
                <li>{{redSearch[i]}}</li> 
            {%endfor%} 
            </ul>
        </div>
    </div>
    <div class="w3-col s2 w3-padding">
        <div class="w3-card-4 w3-padding" style = "color:white">
        <div id = "twitter" style = "color:white">
        <h3> Twitter Sentiment:</h3>
        <div id = "stocksearch">{{search}}</div>
        <div style = "w3-button"><a href="https://twitter.com/search?q=%24{{stock}}&ampsrc=typed_query">Click Here for Twitter Search Results</a></div>
        <div style = "w3-button"><a href="https://twitter.com/intent/tweet?button_hashtag={{stock}}&ampref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Click to Tweet about {{stock}}</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></div>
        </div>
        </div>
    </div>
</div>
{% endblock %}