{% extends "layout.html" %}
{% block content %}
<div class="w3-row-padding w3-row w3-margin" id="center">
    <div class="w3-quarter w3-padding" style="color:white">
        <div class="w3-card" style = "color:white">
        <h3> Stock Analysis:</h3>
        <form action = "/stocks" method = "POST">
            <input type = "text" name = "stock">
            <input type = "submit" value = "submit">
        </form>
        </div>
    </div>
    
    <div class="w3-quarter w3-padding">
        <div class="w3-card">
          </div>
    </div>
    
    <div class="w3-quarter w3-padding">
        <div class="w3-card">
        </div>
    </div>
    
    <div class="w3-quarter w3-padding">
        <div class="w3-card">
        </div>
    </div>
</div>
{% endblock %}