{% extends "layout.html" %}
{% block content %}

<div class="w3-row-padding w3-row w3-margin" style="margin:50">
    <div class="w3-col s4 w3-padding" id="portfolio-desc" style = "color:white;border: 1px white solid">
        <h3>Teens Tutor Teens</h3>
        <p><i>An iOS app built with the react native framework.</i></p>
        <p>Built for 501(c)(3) charity 'Teens Tutor Teens'</p>
        <p>Soon available on the iOS app store.</p>
    </div>
    <div class="w3-col s2 w3-padding">
    <div class="w3-card-4 w3-padding" style = "color:white">
        <a href = "https://snack.expo.io/@ydocsgnillats/43b5c9">
        <header>
        <h4>Click to Test out the app!</h4>
        <h5>(Use the iOS/Android emulator provided)</h5>
        </header>
        <img src="/static/tttapp.png" alt="TTT App" style="width:100%;height:100%">
        </a>
    </div>
    </div>
    <div class="w3-col s2 w3-padding">
        <h3>Connect with Teens Tutor Teens: </h3>
        <div class="w3-btn"><a href = 'https://www.facebook.com/Teenstutorteens-113871120346929'>Facebook</a><p></p></div>
        <div class="w3-btn"><a href = 'https://www.instagram.com/teenstutorteens/'>Instagram</a><p></p></div>
        <div class="w3-btn"><a href = 'https://twitter.com/explore'>Twitter</a><p></p></div>
        <div class="w3-btn"><a href = 'https://www.linkedin.com/company/teens-tutor-teens/'>LinkedIn</a><p></p></div>
    </div>
</div>
{% endblock %}